/*---------Main-content---------*/

#main-content{
	width: 65%;
	float: right;
	margin-right: 5%;
	
	p{ font-size: 2.2rem }

	strong{ font-weight: 600}
	
	article{
		width: 90%;
		height: 180px;
		margin: 15px 20% 15px 0; 
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		background: #f5f5f5; 
		
		img{
			width: 350px;
			float: left;
			transition: 1s; 
		}
			
		@media screen and (max-width: 1100px){	
			img{
				width: 350px;
				float: left;
				transition: 1s; 
			}
		}

		@media screen and (max-width: 820px){
			img{
				width: 100%;
				transition: 1s; 
			}
		}

		img:hover{ width: 365px }
	
		@media screen and (max-width: 1100px){	
			img:hover{ width: 360px }
		}

		@media screen and (max-width: 820px){
			article img:hover{ width: 105% }
		}

		h2{
			position: absolute;
			left: 55%;
			top: 1%;
			border-bottom: solid 1px #358ccb;
			text-transform: uppercase;
			text-decoration: underline 1px;
			font-size: 2.2rem;
			font-weight: 600;
			color: #393939;
		}

		@media screen and (max-width: 820px){
			h2{
				width: 300px;
				margin: 0 auto;
				position: initial;
			}
		}

		@media screen and (max-width: 480px){
			h2{
				width: 75%;
				margin: 1% auto;
			}
		}

		p{
			position: absolute;
			left: 55%;
			color: #358ccb;
		}

		@media screen and (max-width: 820px){
			p{ position: initial }
		}

		.note{
			position: absolute;
			top: 70px;
		}

		@media screen and (max-width: 820px){
			.note{ left: 10% }
		}

		.option{
			position: absolute;
			bottom: 55px;
			left: 60%;
			padding: 8px 0 0 0;
			line-height: 30px;
			font-weight: 300;
			font-size: 2.3rem;
		}

		@media screen and (max-width: 820px){
			.option{ position: initial }
		}

		@media screen and (max-width: 820px){
			div{
				width: 100%;
				height: 180px;
				position: relative;
				overflow: hidden;
				text-align: center;
			}
		}
		
		div	a{
			position: absolute;
			bottom: 45px;
			right: 40%;
			display: block;
			text-decoration: none;
			
			p{
				width: 170px;
				padding: 9px 0;
				text-align: center;
				font-size: 1.6rem;
				font-weight: 300;
				letter-spacing: 1px;
				border-radius: 7px; 
				background: #358ccb; 
				color: #fff;
				transition: 0.3s;
				
				&:hover{ color: #000 }
			}
		}

		@media screen and (max-width: 820px){
			div a{
				position: initial;
				display: inline-block;
				margin: 10px auto 0;
			}
		}

		
		div figure img.etl5{
			width: 25px;
			position: absolute;
			right: 5%;
			bottom: 12%;
		}

		@media screen and (max-width: 470px){
			figure img.etl5{
				width: 20px;
				right: 2%;
			}
		}
	
	}
	@media screen and (max-width: 1100px){
		article{ width: 100% }
	}

	@media screen and (max-width: 820px){
		article{
			width: 100%;
			height: auto;
			margin-top: 25px; 
			position: relative;
		}
	}

	article:first-of-type{ margin-top: 3% }
	
}
@media screen and (max-width: 1100px){
	#main-content{
		width: 85%;
		float: none;
		margin-right: 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 820px){
	#main-content{ width: 80% }
}

@media screen and (max-width: 665px){
	#main-content{ width: 100% }
}
